@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: Raleway, sans-serif;
  margin: 40px auto;
  max-width: 860px;
  font-size: 1.5em;
  text-align: center;
  background: #37353E;
  color: #D3DAD9;
}

.new-game-button {
  background-color: transparent;
  color: #D3DAD9;
  border: 2px solid #D3DAD9;
  padding: 10px;
}

.new-game-button:hover {
  background-color: #D3DAD9;
  color: #37353E;
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  row-gap: 20px;
  column-gap: 20px;
}